

/* ----커뮤니티 타이틀---- */
.community-header{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.community-header > h1 {
  display: inline-block;
  font-size: 2rem;
}

/* ----커뮤니티 전체---- */
.community-table-container{
  display : flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}


/* ----커뮤니티 내용---- */
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.table-row-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
}

.table-row  {
  display: flex;
  justify-content: left;
  /* align-items: center; */
  padding: 10px;
  /* border: 1px solid black; */
}

.table-row > .contents-idx{
  width: 10%;
}

.table-row-contents{
  width : 80%
}

.contents-title{
  font-weight : bold;
}

.contents-title{
  margin-bottom: 1%;
}

.contents-writer{
  margin-bottom: 1%;
}

.storageImg {
  width: 110%; 
  height: 150px; 
}

.Community > div {
  font-size: 10px; 
}

.community-hr{
  background: lightgray;
  height:1px;
  border:0;
}


/* 버튼부분 */
.table-row-header button{
  width :200%;
  height: 25px;
}

.table-row-header button:hover{
  font-weight: bold;
}
