.mainimg {
    width: 100%;
    height: auto;
    height: 200px;
    overflow: hidden;
  
    background-image: url("https://cdn.pixabay.com/photo/2019/05/21/11/35/absinthe-4218874_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-shadow: 1.5px 1.5px 1.5px rgba(1, 22, 106, 0.5);
  }

  .mainimg_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .mainimg_2_1 {
    margin-top: 2.5%;
    width: 40%;
    height: 100px;
    background-image: 
    url("https://static.vecteezy.com/system/resources/thumbnails/015/084/715/small_2x/wood-wine-cabinet-icon-outline-bar-liquor-vector.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1.5px 1.5px 1.5px rgba(1, 22, 106, 0.5);
    filter: hue-rotate(30deg);
  }
  
  .mainimg_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: #f8f8f8;
    height: 100px;
    padding: 5%;
    color: black;
  }
  

  /* hr 태그 - 선 */
  .mainBox>hr:first-of-type {
    height: 10px;
    border: none;
    background-color: whitesmoke;
  }
  
  .mainBox>hr:nth-of-type(2) {
    height: 10px;
    border: none;
    background-color: lightcoral ;
  }

  .mainBox>hr:nth-of-type(3) {
    height: 10px;
    border: none;
    background-color: lightskyblue ;
  }