.header-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* padding-left: 10%; */
  font-size: 20px;
  gap: 10%;
  height: 100px;
}

.header-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  padding-left: 10%;

  font-size: 40px;
  white-space: nowrap;
}

.header-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 45%;
}


/* ------- 로그인 버튼 -------- */
.header-main .Log {
  background-color: gray;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  transition: color 0.3s ease;
  width: 80px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 1px solid whitesmoke;
}


.header-main .Log button:hover {
  background-color: rgba(128, 128, 128, 0.515);
  font-weight: bold;
}


/* --------술창고 아코디언------- */
.menu-archive {
  display: flex;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  color: black;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  opacity: 1;
  transform: translateY(2px);
}

.menu-item a {
  display: block;
  padding: 5px 10px;
  margin: 2px 0;
  text-decoration: none;
}

.menu-item a:hover {
  border-radius: 5px;
  color: black;
  font-weight: bold;
}


/* ---------다크모드--------- */
html.dark-mode {
  background-color: #202124;
  color: white;
}

/* 다크모드, 로그인 버튼 */
.dark-mode-toggle {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  
  margin-top: 20px;
  margin-right: 30px;
}

.dark-mode-toggle button {
  background-color: black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  transition: color 0.3s ease;
  width: 80px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid whitesmoke;

}

.dark-mode-toggle .Log{
  margin-top: 10px;
}

.Log .log-inout{
  background: gray;
}


/* 다크모드일 때 */
.dark-mode-toggle button:hover {
  color: whitesmoke;
}

.dark-mode-toggle button:focus {
  color: #aaa;
}

.dark-mode-toggle button.dark {
  color: #888;
}

.dark-mode-toggle button.dark:hover {
  color: #aaa;
}

.dark-mode-toggle button.dark:focus {
  color: #ccc;
}


/* 라이트모드 일 때 */
html.dark-mode .menu-item a:hover {
  background-color: rgba(128, 128, 128, 0.515);
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.dark-mode-toggle .Lightmode{
  background-color: White;
  color: black;
} 
