/* 전체 크기  */
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 28% ;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 45%;
}

/* 로그인 타이틀 */
.login-title{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  padding-bottom: 10%;
}

/* 입력부분 & 버튼  */
.login-container input,
.login-container button
{
  margin-top: 5%; 
  border-radius: 4px;
  width: 100%;
  height: 50px;
  /* font-size: 13px; */
}

.login-container input{
  border: 2px solid whitesmoke;
}
      /* 버튼 */
      .login-button {
        background-color: rgba(255, 166, 0, 0.864);
        border: 1px solid orange;
        color : whitesmoke;
      }

      /* 입력 */
      .login-container input:focus {
        outline: 1px solid orange;
      } 

    

/* .login-container input::placeholder{
  font-size :18px;
} */


.join-button {
  border: 1px solid gainsboro;

  background-color: white;
}

.login-button:hover{
  background-color: rgb(255, 166, 0);
  color: black;
  font-weight: bold;
}

.join-button:hover{
 color: gray;
}