@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 50;
  font-style: normal;
}
*{
  text-decoration-line: none;
  color: inherit;
  font-family: SUITE-Regular;
}
.Headermain {
  display: flex;
  background-color: whitesmoke;
}
.Headermain > div{
  padding: 5%;
}
.HeaderBox{
  margin-left: 15%;
  margin-right: 15%;
}
